<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <img
  id="bg-image"
  src="https://media.gettyimages.com/id/1406471157/vector/seamless-swimming-pool-background-with-inflatable-ring.jpg?s=612x612&w=0&k=20&c=2ZpoCjjC9PbclRZ3TOgtz8UdSdgAKn7ecYpq-yDDYH0="
/>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        <div class="confetti"> </div>
        
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
    </body>
</html>
